h3, p {
  text-align: center;
}

table {
  margin: auto;
  max-width: 820px;
}

.table-btn {
  vertical-align: middle;
}

.btn {
  outline: none !important;
}

.btn-default:focus {
  background-color: unset !important;
  border-color: unset !important;
}

.btn:focus {
  border-color: #ccc !important;
}

* {
  user-select: none;
}
