<div class="conteiner text-center">
  <!--<img src="/assets/pomodoro.png" alt="pomodoro">-->
  <div class="container">
    <div>
      <h3>
        {{ queuedPomodoros | i18nPlural:queueHeaderMapping }} for today
        <span class="small" *ngIf="queuedPomodoros > 0">
          (Estimated time: {{ queuedPomodoros * 25 | formattedTime }})
        </span>
      </h3>
      <p>
        <span *ngFor="let queuedTask of tasks | queuedOnly: true">
          <app-pomodoro-icons appTaskTooltip
                              [task]="queuedTask"
                              [taskTooltip]="tooltip"
                              size="50">
          </app-pomodoro-icons>
        </span>
      </p>
      <p #tooltip [hidden]="queuedPomodoros === 0">Mouse over for details</p>
    </div>
    <h4>Task Backlog</h4>
    <table class="table">
      <thead>
        <tr>
          <th>Task ID</th>
          <th>Task name</th>
          <th>Deliver by</th>
          <th class="text-center">Pomodoros</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of tasks; let i = index">
          <th scope="row" class="text-center">{{i}}
            <span *ngIf="task.queued" class="label label-info">
              Queued
            </span>
          </th>
          <td class="text-left">{{task.name | slice:0:35}}
            <span [hidden]="task.name.length < 35">...</span>
          </td>
          <td class="text-left">{{task.deadline | date: 'fullDate'}}
            <span *ngIf="task.deadline < today" class="label label-danger">
              Due
            </span>
          </td>
          <td class="text-center">{{task.pomodorosRequired}}</td>
          <td class="text-left twoButton">
            <button type="button"
                    class="btn btn-default btn-xs"
                    (click)="toggleTask(task)"
                    [ngSwitch]="task.queued">
              <span class="table-btn" *ngSwitchCase="false">
                <i class="glyphicon glyphicon-plus-sign"></i>
                Add
              </span>
              <span class="table-btn" *ngSwitchCase="true">
                <i class="glyphicon glyphicon-minus-sign"></i>
                Remove
              </span>
              <span class="table-btn" *ngSwitchDefault>
                <i class="glyphicon glyphicon-plus-sign"></i>
                Add
              </span>
            </button>
            <button type="button"
                    class="btn btn-default btn-xs"
                    *ngIf="task.queued"
                    (click)="workOn(i)">
              <i class="glyphicon glyphicon-expand"></i> Start
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
