<!--The content below is only a placeholder and can be replaced.-->
<!--<app-pomodoro-timer></app-pomodoro-timer>-->
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <strong class="navbar-brand">My Pomodoro Tasks</strong>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="/tasks" routerLinkActive="router-link-active">Tasks</a></li>
      <li><a routerLink="/timer" routerLinkActive="router-link-active">Timer</a></li>
      <li *ngIf="userIsLoggedIn"><a routerLink="/task/editor" routerLinkActive="router-link-active">Publish Task</a></li>
      <li *ngIf="!userIsLoggedIn"><a routerLink="/login" routerLinkActive="router-link-active">Login</a></li>
      <li *ngIf="userIsLoggedIn"><a href="#" (click)="logout($event)">Logout</a></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
